<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BuzzDB</title>
    <!-- Because why reinvent the wheel for a readme page? -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/home.css"/>
</head>
<body>

    <div class="container">
        <%- contents %>
    </div>

    <p class="contribute">
        <a href="https://bitbucket.org/blackmjck/buzzdb">Fork me on Bitbucket!</a>
    </p>
    
    <hr/>
    
    <footer class="container">
        <p class="center-block">
            &copy; 2014 <a href="mailto:guesswho@stevenwiggins.net">Steven Wiggins</a> under the MIT license.
        </p>
    </footer>

</body>
</html>