<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>BuzzDB</title>

    <link rel="shortcut icon" href="media/favicon.ico" />

    <!-- Because why reinvent the wheel for a readme page? -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/home.css" />

</head>
<body>

    <div class="container">
        <%- contents %>
    </div>

    <div id="contribute">
        <a class="repo" href="https://bitbucket.org/blackmjck/buzzdb">Fork me on Bitbucket!</a>
    </div>
    
    <hr/>
    
    <footer class="container">
        <p class="center-block">
            &copy; 2014 <a href="mailto:guesswho@stevenwiggins.net">Steven Wiggins</a> under the MIT license.
        </p>
    </footer>

    <script>
        // apply bootstrap table styles to the generically generated tables in the README.md
        var tables = document.getElementsByTagName('table'),
            i = tables.length;

        while( i-- ) {
            tables[ i ].className = 'table table-bordered table-striped';
        }
    </script>

</body>
</html>