/* Fill-in styles for the readme/home page */

.container table {
    width: 100%;
    margin-bottom: 1em;
}

.container h4 {
    margin-top: 1.5em;
}

#contribute {
    position: absolute;
    top: 0;
    right: 0;
    width: 14em;
    height: 14em;
    overflow: hidden;
}
#contribute .repo {
    position: absolute;
    top: 4em;
    right: -4em;
    display: block;
    margin: 0;
    padding: 0.5em 4em;
    background: #205081;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: 0.25em 0.25em 0.3em rgba(0,0,0,0.4);
    text-shadow: 0 0 1px #000;
    color: #FFF;
    text-decoration: none;
}
#contribute .repo:hover,
#contribute .repo:focus {
    background: #C00;
}